{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Earnings</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
    <a href="index"> Go back</a>
    
    <h2>
      Earnings
    </h2>
    
    
    <p>
      Submit an Earning
    </p>
    <form method="post">
      {% csrf_token %}
      <!-- {{ form }} -->
      {% for field in form %}
          <p>{{ field.label_tag }} {{ field }}</p>
      {% endfor %}
     
   
    <input type="submit" value="Submit">
    </form>

	</body>
</html>