{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Goals</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
    <a href=".."> Go back</a>
        {% block content %}
    <form action="{{earn}}" method="post">
        {% csrf_token %}

      <h1>
      Submit an Achievement
    </h1>
        <br>
        <div class="container mb-5">
            <div class="row">
                {% for field in form  %}
                    <div class="col-sm-6">
                        <b>{{ field.label_tag }}</b>  {{ field }} 
                        <br><br>
                    </div>
                {% endfor %}
            </div>  
        </div>
        <input type="submit" value="Submit" />
    </form>
    {% endblock %}

	</body>
</html>