{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Money Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
  
  <style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    .bgimg {
        background-image: url('https://wallpapercave.com/wp/wp2970131.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    </style>
  
	<body>
		<!-- Your layout here -->
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top w3-text-white">WELCOME</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">Log in!</p>
    </div>
<!--       <input type="text"></input>
      <button class="btn btn-default">Submit</button> -->
</div>
    

	</body>

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  
  $('button').button().click(function (event) {
  var postdata = {
    'name':$('input').val(),
    'csrfmiddlewaretoken': csrftoken
  };
  $.post('groups/', postdata);
  });


</script>
</html>